/*////////////////////////////////////////////////////////////////
//                    CSS by Mehdi Naseri                       //
////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////
//                 جهت تغيير رنگ منوهاي بالا                  //
////////////////////////////////////////////////////////////////*/
/*.navbar-default {
  background-color: #22941d;
}*/


/*////////////////////////////////////////////////////////////////
//      راست به چپ کردن منوها در فرمهای فارسی              //
////////////////////////////////////////////////////////////////*/
body[dir="rtl"] .navbar-brand {
    float: right;
}

body[dir="rtl"] .navbar-toggle {
    float: left;
}


@media (min-width: 768px) {
    body[dir="rtl"] .navbar-header {
        float: right;
    }
}

@media (min-width: 768px) {
    body[dir="rtl"] .navbar-nav {
        float: right;
        margin: 0;
    }

        body[dir="rtl"] .navbar-nav > li {
            float: right;
        }
}

@media (min-width: 768px) {
    body[dir="rtl"] .navbar-right {
        float: left !important;
    }
}

body[dir="rtl"] .dropdown-menu {
   right: 0; 
   left: auto; 
}
/*////////////////////////////////////////////////////////////////
//                    //
////////////////////////////////////////////////////////////////*/

